page-request {
  #map_canvas {
    top:405px;
    height: 50%;
    width: 100%;
    position: absolute!important;
    overflow: hidden!important;
  }

 .request{
   height: 100%;
   widht: 100%;
   top:40px;


 }

}
