

.my-container {
  background-color:#ffc107 ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
}
.items{
  background-color: transparent ;
  color: black;
}

.bar-profile {
  background-color: black;
  height: 170px;
}

 .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

 .name {
  color: #e6ad22;

}

.profile-picture {   border-radius: 50%;
}

.menu
{
  top: 169px;
}
