page-carte{

  .map-wrapper{

  position: relative;
    width: 100%;
    height: 100%;
}
  #map{
    width: 100%;
    height: 92%;
  }
  .buttonn
  {
    background-color: #e6ad22;
    background-color: transparent;
    width: 100%;
    height: 10%;
  }
}
